a {
  color: inherit;
  cursor: pointer;
  opacity: .9;
  text-decoration: none;
}

a:focus, a:hover {
  opacity: 1;
}

.masthead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(17, 17, 17, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: .875rem;
  z-index: 10;
}

.navigation, .navigation__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  list-style: none outside none;
  margin: 0 1rem;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #555;
  font: normal 16px sans-serif;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}
